@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><font face="Comic Sans" color="#800000"><b>Filme Moana </b></h1></font>
    <p>Se ainda não assistiu, clique aqui >>> <a href="https://www.youtube.com/watch?v=0QUTCifXiPo">Youtube</a>.</p>
</div>

<div class="alert alert-primary" role="alert">
Qual sua opinião sobre o Filme Moana?</div>
<div>
      <input type="checkbox" id="MB" name="MB" checked>
      <label for="MB">Muito Bom</label>
    </div>

    <div>
      <input type="checkbox" id="bom" name="bom">
      <label for="bom">Bom</label>
    </div>
     <div>
      <input type="checkbox" id="ruim" name="ruim">
      <label for="ruim">Ruim</label>
    </div>
<div>
      <input type="checkbox" id="pessimo" name="pessimo">
      <label for="pessimo">Péssimo</label>
    </div>
<button type="button" class="btn btn-danger">Enviar</button>
  




